#search {position:absolute;top:60px; left: 800px; }
#search_input{width:200px;height:30px;font-size:20px;}
#search_button{ position : absolute; left:220px; width:40px; height : 30px;}
#button_image{ cursor:pointer; position : absolute; left:-3px;top:-3px; width:45px; height : 35px;}