body {
	margin: 0;
}
/* 헤더부분 */
.header {
	height: 150px;
}

.header_wrap {
	width: 1200px;
	height: inherit;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title a {
	text-decoration-line: none;
}

.serch, .user_info {
	display: flex;
}

.header_right {
	justify-content: end;
}

.user_info div {
	margin-left: 20px;
}

.user_info p {
	margin: 0;
}

.serch div {
	margin: 0 5px;
}

.user_info button, .user_info img {
	width: 60px;
	height: 60px;
	border: 0;
	padding: 0;
}

.user_info button:focus, .serch button:focus {
	outline: none;
}

/* 네비바 */
.nav {
	height: 50px;
	border-top: solid 4px;
	border-bottom: solid 4px;
	border-color: gray;
}

.nav_wrap {
	width: 1000px;
	height: inherit;
	margin: 0 auto;
}

.nav ul {
	display: flex;
	height: inherit;
	align-items: center;
	margin: auto 0;
}

.nav ul li {
	list-style: none;
}

.nav ul li a {
	padding: 15px;
	font-size: 20px;
	text-decoration-line: none;
	margin: 0 30px 0 30px;
}

.content_wrap {
	width:1000px;
	margin: 0 auto;
}

.hot_content ul {
	display: flex;
} 

.main_content {
	display: flex;
}

/* 일단 버튼 손모양 변경하는거 */
.header button {
	cursor: pointer;
}

/*TAB */
.content {
	height: 500px;
}

.tab_wrap {
	width: 1000px;
	margin: 0 auto;
}

/* .content {
    clear : both;
} */

/*TAB CSS*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	/*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	/*--Gives the bevel look with a 1px white border inside the list item--*/
	border: 1px solid #fff;
	outline: none;
}

ul.tabs li a:hover {
	background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover {
	/*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	/*--Makes the active tab look like it's connected with its content--*/
	border-bottom: 1px solid #fff;
}

/*Tab Conent CSS*/
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}

.tab_content {
	padding: 20px;
	font-size: 1.2em;
}

.parent {
	display: flex;
}

.child1 {
	flex: 1;
}

.child2 {
	flex: 60%;
}

.spread1:before {
	content: '▶';
}

.spread2:before {
	content: '▼';
}

.ul2 {
	list-style: none;
	margin: 0;
	padding: 0;
}

.li2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
	float: left;
}

.table {
	border-collapse: separate;
	text-indent: initial;
	border-spacing: 2px;
}

.join {
	margin: auto;
	padding: 20px;
	width: 300px;
	background-color: #EEEFF1;
	border-radius: 5px;
}

div {
	width: 100%;
}

div.left {
	width: 30%;
	float: left;
	box-sizing: border-box;
	background: #8977ad;
}

div.right {
	width: 70%;
	float: right;
	box-sizing: border-box;
	background: #ece6cc;
}
